<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/admin.css">

</head>
<body>
{{>adminNav}}
{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" id="myElement" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close" onclick="closeButton()"></button>
    {{alert}}
  </div>
{{/if}}



<div class="container-fluid mt-5 about-style" id="servicesid">
    <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                          <a href="http://localhost:4000/activeuser">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/18.avif" alt="img does not avalible">
                            </div>
                            <h4>Active</h4>
                            <p>Click here to view active users.</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                          <a href="http://localhost:4000/inactiveuser">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/21.png" alt="img does not avalible">
                            </div>
                            <h4>Inactive</h4>
                            <p>Click here to view inactive user.</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                <a href="http://localhost:4000/registeruser">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/16.avif" alt="img does not avalible">
                            </div>
                            <h4>Register</h4>
                            <p>Click here to view register user.</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                         <a href="http://localhost:4000/database">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/13.png" alt="img does not avalible">
                            </div>
                            <h4>Database</h4>
                            <p>Click here to view database.</p>
                        </div>
                           </a>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
